
/*** 

====================================================================
	Main Header style
====================================================================

***/

.main-header{
	position:absolute;
	z-index:99;
	width:100%;
	padding-top:60px;
}

/* Header Top */

.main-header .header-top{
	position:relative;
}

.main-header .header-top .inner-container{
	position:relative;
	padding:14px 0px;
	padding-right:30px;
	margin-right:60px;
	background-color:#ffffff;
}

.main-header .header-top .top-left{
	position: relative;
	float:left;
}

.main-header .header-top .info-list{
	position:relative;
}

.main-header .header-top .info-list li{
	position: relative;
	color:#555555;
	font-size:16px;
	margin-right:30px;
	padding-left:25px;
	display:inline-block;
}

.main-header .header-top .info-list li:last-child{
	margin-right:0px;
}

.main-header .header-top .info-list li .icon{
	position:absolute;
	left:0px;
	top:0px;
	color:#fe4c1c;
}

.main-header .header-top .info-list li a{
	position: relative;
	color:#555555;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-header .header-top .info-list li a:hover{
	color:#eb3867;
}

.main-header .header-top .top-left .text{
	position: relative;
	color:#222222;
	font-size:14px;
	font-weight:600;
}

.main-header .main-box{
	position:relative;
	padding:0px 0px;
	left:0px;
	top:0px;
	width:100%;
	background:none;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-header .main-box .outer-container{
	position:relative;
	padding:0px 40px;
}
.responsiveLogo{
	display: none;
}

.main-header .main-box .logo-box{
	position:relative;
	float:left;
	left:0px;
	z-index:10;
	padding:30px 0px;
}

.main-header .main-box .logo-box .logo img{
	display:inline-block;
	max-width:100%;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
}

.main-header .header-upper{
	position:relative;
}

.main-header .header-upper .upper-right{
	position:relative;
	padding-top:22px;
}

.main-header .header-upper .inner-container{
	position:relative;
}

.main-header .nav-outer{
	position:static;
	float:right;
	border-radius:50px;
	padding:0px 15px 0px 40px;
	background-color:rgba(45, 98, 114, 0.473);
}

.main-header .header-upper .logo-box{
	position: relative;
	padding:0px 0px;
	z-index:1;
}

.main-header .header-upper .logo-box .logo{
	position:relative;
	height: 125px;
	width: 125px;
	margin-top: -25px;
}

.main-header .outer-box{
	position: relative;
	float:right;
	margin-left:0px;
	padding: 14px 0px 8px;
}

.main-header .cart-box{
	position:relative;
	float:left;
	color:#eb3867;
	font-size:14px;
	background:none;
	margin-top:16px;
	display:inline-block;
}

.main-header .cart-box .cart-box-btn{
	background:none;
	color:#ffffff;
	cursor: pointer;
	font-size: 34px;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}

.main-header .cart-box .cart-box-btn:after{
	display:none;
}

.main-header .cart-box .cart-box-btn .total-cart{
	position:absolute;
	right: -8px;
	top: -8px;
	width:18px;
	height:18px;
	color:#ffffff;
	font-weight:700;
	font-size:10px;
	border-radius:50%;
	text-align:center;
	line-height:18px;
	background-color:#222222;
}

.main-header .cart-box .cart-box-btn:hover{
	
}

.main-header .cart-product{
	position:relative;
	margin-bottom:18px;
	min-height:90px;
	border-bottom:1px solid #e4e4e4;
}

.main-header .cart-product .inner{
	position:relative;
	padding-left:90px;
	min-height:70px;
}

.main-header .cart-product .inner .cross-icon{
	position:absolute;
	right:0px;
	top:-2px;
	z-index:1;
	color:#263120;
	font-size:16px;
	cursor:pointer;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header .cart-product .inner .cross-icon:hover{
	color:#eb3867;
}

.main-header .cart-product .inner .image{
	position:absolute;
	width:70px;
	height:70px;
	left:0px;
	top:0px;
}

.main-header .cart-product .inner h3{
	position:relative;
	font-weight:600;
	font-size:15px;
	margin:0px;
	letter-spacing: 1px;
	text-transform:capitalize;
}

.main-header .cart-product .inner h3 a{
	color:#222222;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}

.main-header .cart-product .inner h3 a:hover{
	color:#eb3867;
}

.main-header .cart-product .inner .quantity-text{
	position:relative;
	font-weight:300;
	color:#666666;
	font-size: 13px;
	margin-bottom: 0px;
}

.main-header .cart-product .inner .price{
	position:relative;
	font-weight:700;
	font-size:16px;
	margin:0px;
	color:#222222;
}

.main-header .cart-box .cart-panel{
	left: auto !important;
	right: 0px !important;
	border-radius:20px;
	padding:20px 20px;
	min-width:300px;
	margin-top:59px;
	z-index: -1;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.15);
	border:3px solid #eb3867;
	-webkit-transform: translate3d(0px, 0px, 0px) !important;
	transform: translate3d(0px, 0px, 0px) !important;
}

.main-header .cart-box .cart-panel .cart-total{
	color:#000000;
	font-size:15px;
	font-weight:400;
	text-align:center;
	text-transform:capitalize;
}

.main-header .cart-box .cart-panel .cart-total span{
	font-weight:800;
	font-size:18px;
}

.main-header .cart-box .cart-panel .btns-boxed{
	position:relative;
	text-align:center;
	margin-top:20px;
}

.main-header .cart-box .cart-panel .btns-boxed li{
	position:relative;
	margin:0px 5px;
	display:inline-block;
}

.main-header .cart-box .cart-panel .btns-boxed li a{
	position:relative;
	color:#ffffff;
	font-weight:500;
	font-size:12px;
	padding:10px 20px 8px;
	border-radius: 2px;
	display:inline-block;
	background-color:#eb3867;
	border:1px solid #eb3867;
	text-transform:uppercase;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
}

.main-header .cart-box .cart-panel .btns-boxed li a:hover{
	color:#eb3867;
	background:none;
}

.main-header .cart-box .icon a{
	color:#999999;
}

/* Search Box Outer */

.main-header .search-box-btn{
	position:relative;
	top: 0px;
	padding-right: 25px;
     padding-left: 5px;
	/* height:50px; */
	display:block;
	float:left;
	font-size:22px;
	color:#ffffff;
	cursor:pointer;
	line-height:46px;
	text-align:center;
	/* border-radius:50px;
	margin-left:0px;
	background-color:#652e6f; */
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	/* border:2px solid rgba(255,255,255,0.50); */
}
.search-box-btn, .search-box-outer :hover{
 color: #85c6ada6;
 ;
}

.main-header .search-box-btn:after{
	display:none;
}

.main-header .search-box-outer .dropdown-menu{
	top:49px !important;
	right:0px;
	padding:0px;
	width:280px;	
	left: auto !important;
	border-radius:0px;
	border-top:3px solid #eb3867;
	-webkit-transform: translate3d(0px, 0px, 0px) !important;
	transform: translate3d(0px, 0px, 0px) !important;
}

.main-header .btn-box{
	position:relative;
	float:left;
}

/* Header Lower */

.main-header .header-lower .search-box{
	float:right;
}

.main-header .header-lower .search-box .form-group{
	position:relative;
	margin:0px;
	top:-1px;
}

.main-header .header-lower .search-box .form-group input[type="text"],
.main-header .header-lower .search-box .form-group input[type="search"]{
	position:relative;
	line-height:28px;
	padding:10px 50px 10px 25px;
	background:none;
	display:block;
	font-size:14px;
	width:200px;
	height:74px;
	color:#222222;
	font-weight:400;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	background-color:#ffffff;
	border-radius:0px 50px 50px 0px;
}

.main-header .header-lower .search-box .form-group button{
	position:absolute;
	right:0px;
	top:0px;
	height:74px;
	width:45px;
	font-size:14px;
	color:#000048;
	line-height:100%;
	background:none;
	display:inline-block;
	font-weight:normal;
	text-align:left;
	cursor:pointer;
}

/* Main Menu */

.main-menu{
	position:static;
	float:left;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;
}


.main-menu .navbar-collapse{
	padding:0px;
	float: left;
	display:block !important;
}

.main-menu .navigation{
	position:static;
	margin:0px;
}

.main-menu .navigation > li{
	position:relative;
	float:left;
	margin-right:30px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li:last-child{
	margin-right:0px;
}

.sticky-header .main-menu .navigation > li > a{
	color:#444444;
}

.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a{
	color:#eb3867;
	background-color:inherit !important;
}

.sticky-header .nav-outer .options-box{
	margin-top:45px;
}
/* ----------------------------------------------------------- */
/*Sticky Header*/

.sticky-header{
	position:fixed;
	opacity:0;
	visibility:hidden;
	left:0px;
	top:0px;
	width:100%;
	padding:0px 0px;
	background:#ffffff;
	z-index:0;
	border-bottom:1px solid #e8f1f7;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.sticky-header .logo{
	padding:2px 0px 2px;
}

.fixed-header .sticky-header{
	z-index:999;
	opacity:1;
	visibility:visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;	
}

.main-menu .navigation > li > a{
	position:relative;
	display:block;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	text-transform: capitalize;
	letter-spacing:0px;
	opacity:1;
	font-weight:500;
	padding:25px 0px;
	font-size:16px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	font-family: 'Archivo', sans-serif;
}

.sticky-header .main-menu .navigation > li{
	position:relative;
	margin-left:30px;
	margin-right:0px;
}

.sticky-header .main-menu .navigation > li:before,
.sticky-header .main-menu .navigation > li:after{
	
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a{
	opacity:1;
	color:#85C6AD;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left:-30px;
	top:100%;
	width:230px;
	z-index:100;
	display:none;
	opacity: 0;
    visibility: hidden;
    transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
	padding:20px 15px;
	border-radius:10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(31, 57, 70, 0.5);
}

.main-menu .navigation > li > ul.from-right{
	left:auto;
	right:0px;	
}

.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid #f9f9f9;
}

.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;
}

.main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:10px 18px;
	line-height:24px;
	font-weight:500;
	font-size:16px;
	color:#111111;
	text-transform:capitalize;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	font-family: 'Archivo', sans-serif;
}

.sticky-header .main-menu .navigation > li > a{
	padding:19px 0px !important;
}

.main-menu .navigation > li > ul > li > a:before{
	position:absolute;
	content:'//';
	left:10px;
	top:10px;
	opacity:0;
	color:#85C6AD;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a::before{
	opacity:1;
}

.sticky-header .main-menu .navigation > li > a:before{
	top:18px !important;
}

.main-menu .navigation > li > ul > li:hover > a{
	color:#85C6AD;
	padding-left:30px;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
	font-family: 'FontAwesome';
	content: "\f105";
	position:absolute;
	right:15px;
	top:13px;
	width:10px;
	height:20px;
	display:block;
	color:#253d4a;
	line-height:20px;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	z-index:5;	
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
	transform:rotate(180deg);
}

.main-menu .navigation > li > ul > li.dropdown:hover > a:after{
	color:#222222;
}

.main-menu .navigation > li > ul > li > ul{
	position:absolute;
	left:120%;
	top:0%;
	width:230px;
	z-index:100;
	display:none;
	transition: all 900ms ease;
    -moz-transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
	padding:20px 15px;
	border-radius:10px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.10);
}

.main-menu .navigation > li > ul > li > ul.from-right{
	left:auto;
	right:0px;	
}

.main-menu .navigation > li > ul > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid #f9f9f9;
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > ul > li > a{
	position:relative;
	display:block;
	padding:10px 18px;
	line-height:24px;
	font-weight:500;
	font-size:16px;
	text-transform:capitalize;
	color:#111111;
	padding-left:10px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	text-transform:capitalize;
	font-family: 'Archivo', sans-serif;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a{
	color:#85C6AD;
}

.main-menu .navigation > li > ul > li > ul > li > a:before{
	position:absolute;
	content:'//';
	left:10px;
	top:8px;
	opacity:0;
	color:#85C6AD;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a::before{
	opacity:1;
}

.main-menu .navigation > li > ul > li > ul > li:hover > a{
	color:#eb3867;
	padding-left:30px;
}

.main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	left:0px;
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	top:0;
	left:100%;
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	transform: rotateX(0deg);
	transition:all 200ms ease;
	-moz-transition:all 200ms ease;
	-webkit-transition:all 200ms ease;
	-ms-transition:all 200ms ease;
	-o-transition:all 200ms ease;	
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	position:absolute;
	right:10px;
	top:6px;
	width:30px;
	height:30px;
	text-align:center;
	color:#ffffff;
	line-height:28px;
	border:1px solid #ffffff;
	background-size:20px;
	cursor:pointer;
	z-index:5;
	display:none;
}

.main-header .search-box{
	position:relative;
	float:left;
	width:160px;
	padding:33px 0px;
}

.main-header .search-box .form-group{
	position:relative;
	margin:0px;	
}

.main-header .search-box .form-group input[type="text"],
.main-header .search-box .form-group input[type="search"]{
	position:relative;
	line-height:38px;
	padding:10px 50px 10px 20px;
	background:none;
	display:block;
	font-size:14px;
	width:100%;
	height:30px;
	color:#ffffff;
	border-radius:0px;
	font-weight:600;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	border-left:1px solid #eb3867;
}

.main-header .search-box .form-group textarea::-webkit-input-placeholder,
.main-header .search-box .form-group input::-webkit-input-placeholder{
	color:#ffffff;
}

.main-header .search-box .form-group button{
	position:absolute;
	right:0px;
	top:8px;
	display:block;
	font-size:16px;
	color:#ffffff;
	cursor:pointer;
	line-height:100%;
	font-weight:normal;
	background:none;
}

.main-header .header-lower .options-box{
	position:relative;
	float:right;
	padding:10px 15px 10px;
}

.main-header .header-lower .options-box .option-inner:before{
	position:absolute;
	content:'';
	left:-10px;
	top:-10px;
	bottom:-10px;
	width:110%;
	background-color:#eb3867;
	border-radius:50px 50px 50px 50px;
}

.main-header .header-lower .options-box .option-inner{
	position:relative;
	padding-left:70px;
}

.main-header .header-lower .options-box .option-inner .icon{
	position:absolute;
	left:0px;
	top:0px;
	color:#ffffff;
	font-size:50px;
	line-height:1em;
}

.main-header .header-lower .options-box .option-inner .number{
	position:relative;
}

.main-header .header-lower .options-box .option-inner .number span{
	position:relative;
	display:block;
	color:#ffffff;
	margin-bottom:3px;
	text-transform:uppercase;
}

.main-header .header-lower .options-box .option-inner .number a{
	position:relative;
	font-weight:800;
	font-size:22px;
	color:#ffffff;
}

/************************ Mega Menu ***************************/

.main-menu .navigation > li.has-mega-menu{
	position:static;
}

.main-menu .navigation > li > .mega-menu{
	position:absolute;
	left:0px;
	right: 0;
	margin: auto;
	width:100%;
	max-width: 1170px;
	background-color: #ffffff;
    padding: 45px 40px 30px 45px;
    top: 100%;
	z-index:100;
	opacity: 0;
	border-radius:8px;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li:hover > .mega-menu{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
}

.main-menu .navigation > li > .mega-menu .mega-menu-bar{
	position: relative;
}

.main-menu .navigation > li .mega-menu-bar h3{
	position:relative;
	color:#111111;
	font-size:18px;
	font-weight:500;
	padding-bottom:12px;
	margin-bottom:10px;
	border-bottom:1px solid #f2f2f2;
}

.main-menu .navigation > li .mega-menu-bar > ul{
	position:relative;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li{
	position:relative;
	width:100%;
	padding:7px 0px;
	text-transform:capitalize;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li .mega-menu-bar .column{
	position:relative;
	margin-bottom:12px;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li:last-child{
	border:none;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li > a{
	position:relative;
	display:block;
	line-height:20px;
	font-weight:500;
	font-size:16px;
	color:#111111;
	text-transform:capitalize;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	font-family: 'Archivo', sans-serif;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li > a:before {
    position:absolute;
	content:'//';
	left:0px;
	top:0px;
	opacity:0;
	color:#eb3867;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li > a:hover{
	color: #eb3867;
    padding-left: 20px;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li > a:hover::before{
	opacity: 1;
}


.header-style-two{
	position:relative;
	padding-top:0px;
}

.header-style-two:before{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	width:340px;
	height:148px;
	background:url(../images/background/pattern-6.webp);
	background-repeat:no-repeat;
}

.header-style-two .nav-outer{
	position:relative;
	padding-left:0px;
}

.header-style-two .nav-outer:before{
	position:absolute;
	content:'';
	right:0px;
	top:0px;
	bottom:0px;
	width:180%;
	background-color:#0028a1;
	border-radius:0px 8px 8px 0px;
}

.header-style-two .search-box-btn{
	border:none;
	width:auto;
	background:none;
	margin-right:20px;
}

.header-style-two .outer-box{
	margin-left:30px;
	padding:25px 0px 16px;
}

.header-style-two .header-upper .logo-box .logo{
	padding:15px 0px;
}

.header-style-two .main-menu .navigation > li > a:before{
	position:absolute;
	content:'';
	left:0px;
	bottom:34px;
	width:20%;
	height:1px;
	opacity:0;
	background-color:#fe4c1c;
	transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
}

.header-style-two .main-menu .navigation > li:hover > a::before,
.header-style-two .main-menu .navigation > li.current > a::before{
	width:100%;
	opacity:1;
}

.header-style-two .main-menu .navigation > li > a:after{
	position:absolute;
	content:'';
	left:50%;
	bottom:18px;
	width:13px;
	height:6px;
	opacity:0;
	margin-left:-6px;
	transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	background:url(../images/icons/menu-icon.png) no-repeat;
}


.header-style-two .main-menu .navigation > li:hover > a::after,
.header-style-two .main-menu .navigation > li.current > a::after{
	width:100%;
	opacity:1;
}

.header-style-two .main-menu .navigation > li > a{
	padding:35px 0px;
}

.header-style-two .sticky-header .outer-box .search-box-btn{
	color:#111111;
}

.header-style-three .sticky-header .outer-box .search-box-btn{
	color:#111111;
	margin-left:15px;
}

.header-style-two .sticky-header .outer-box .nav-btn,
.header-style-three .sticky-header .outer-box .nav-btn{
	margin-top:15px;
}

.header-style-two .sticky-header .outer-box .cart-box .cart-panel{
	margin-top:45px;
}

.header-style-three .nav-outer{
	padding:0px;
	background:none;
	border-radius:0px;
}

.header-style-three .search-box-btn{
	background:none;
	border:none;
	margin-left:0px;
	margin-right:10px;
}

.header-style-one .main-menu .navigation > li{
	margin-right:12px;
	padding:24px 0px;
}

.header-style-one .sticky-header .main-menu .navigation > li{
	padding:0px;
	margin-left:0px;
	margin-right:25px;
}

.header-style-one .sticky-header .main-menu .navigation > li:hover > a,
.header-style-one .sticky-header .main-menu .navigation > li.current > a{
	/* color:#1519b2; */
}

.header-style-one .sticky-header .main-menu .navigation > li > a::before{
	display:none;
}

.header-style-one .main-menu .navigation > li > a{
	padding:0px 10px;
}

.header-style-one .main-menu .navigation > li > a:before{
	position:absolute;
     content: '';
	left:50%;
	bottom:-15px;
	color: white;
	font-size:25px;
	line-height:1em;
	margin-left:0px;
	opacity:0;
	font-family: 'FontAwesome';
	transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
}



.header-style-one .main-menu .navigation > li:hover > a{
     color:#85C6AD;
}

.header-style-one .main-menu .navigation > li.current > a{
     text-decoration: underline;
     text-underline-offset: 5px;
	color:#ffffff;
     /* margin-left: 25px; */
     width: 60%;
}

.header-style-one .main-menu .navigation > li.current:hover > a{
     /* border-bottom: 2px solid white; */
	color:#85C6AD;
     /* margin-left: 25px; */
     /* width: 60%; */
}

.header-style-one .main-menu .navigation > li:hover > a::before,
.header-style-one .main-menu .navigation > li.current > a::before{
	width:100%;
	opacity:1;
}

.header-style-one .main-menu .navigation > li:hover > a::before,
.header-style-one .main-menu .navigation > li.current > a::before{
	opacity:1;
}

/*** 

====================================================================
	Hidden Sidebar style
====================================================================

***/

.hidden-bar{
	position: fixed;
	top: 0;
	width: 305px;
	height: 100%;
	background: #272727;
	z-index: 9999;
	transition: all 700ms ease;
	-webkit-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
}

.hidden-bar .mCSB_inside > .mCSB_container{
	margin-right:0px;	
}

.hidden-bar.right-align {
	right: -400px;
}

.hidden-bar.right-align.visible-sidebar{
	right:0px;	
}

.hidden-bar.left-align {
	left: 0px;
}

.hidden-bar .hidden-bar-closer {
	position: absolute;
	top: 10px;
	right:15px;
	background: none;
	color: #ffffff;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	z-index: 999999;
}

.hidden-bar .hidden-bar-closer:hover {
	color: #414857;
}

.hidden-bar .hidden-bar-closer:hover .btn {
	color: #ffffff;
}

.hidden-bar .hidden-bar-closer .btn {
	background-color: transparent;
	border: none;
	color:#ffffff;
	outline: none;
	font-size: 14px;
}

.hidden-bar .social-icons {
	text-align: center;
	margin: 50px 0px 30px;
}

.hidden-bar .social-icons ul {
	font-size: 0;
	margin-left: -5px;
	margin-right: -5px;
}

.hidden-bar .social-icons ul li {
	display: inline-block;
	padding: 0 5px;
}

.hidden-bar .social-icons ul li a {
	display: block;
	width: 36px;
	height: 36px;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
	background: #414857;
	color: #ffffff;
	border-radius: 5px;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.hidden-bar .social-icons ul li a:hover {
	background: #ffffff;
	color:#414857;
}

.hidden-bar .logo {
	padding:40px 30px;
}

.hidden-bar .logo img{
	display:inline-block;
	max-width:100%;	
}

.hidden-bar .side-menu {
	background-color: transparent;
	padding: 0;
	font-size:13px;
	letter-spacing:1px;
}

.hidden-bar .side-menu ul li ul a {
	background: transparent;
}

.hidden-bar .side-menu ul li ul li ul li a {
	background: transparent;
}

.hidden-bar .side-menu a.current {
	color: #ffffff;
}

.hidden-bar .side-menu ul li a {
	background: transparent;
	color: #ffffff;
	display: block;
	font-size:14px;
	font-weight: 400;
	text-transform: capitalize;
	border-top: 1px solid rgba(255,255,255,0.30);
	border-bottom: 1px solid rgba(255,255,255,0.30);
	padding: 10px 15px 10px 20px;
	position: relative;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

.hidden-bar .side-menu ul li a:hover,
.hidden-bar .side-menu ul > li.current > a,
.hidden-bar .side-menu ul > li > ul > li.current > a {
	background: rgba(255,255,255,0.10);
	color: #ffffff;
}

.hidden-bar .side-menu ul li a .btn.expander {
	background: none;
	color: #ffffff;
	border: 1px solid rgba(255,255,255,0.80);
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 0px;
	position: absolute;
	top: 6px;
	right: 20px;
	width:32px;
	height:32px;
	outline: none;
}

/* sayam custom */
.sticky-logo-desktop{
	height: 65px;
	width: 65px;
}

.dark-body .main-menu .navigation > li > ul,
.dark-body .main-menu .navigation > li > ul > li > ul{
	/* sayam Note: Header list bg */
	background-color: rgba(30, 54, 66, 0.945);
}
